{{ access_log }} {{ error_log }} {{ extra_logs }} {
    {{log_rotation_frequency}}
    su root {{ wsgi_group }}
    rotate {{logs_to_keep}}
    missingok
    notifempty
    compress
    copytruncate
    dateext
    postrotate
        service gunicorn reload signal=USR1
    endscript
}
