{{ access_log }} {{ error_log }} {{ extra_logs }} {
    daily
    su root {{ wsgi_group }}
    rotate 60
    missingok
    notifempty
    compress
    compresscmd /bin/bzip2
    copytruncate
    dateext
    postrotate
        service gunicorn reload signal=USR1
    endscript
}
