#---------------------------------------------------
# This file is Juju managed
#---------------------------------------------------
command[{{ check_name }}]={{ plugin_dir }}/{{ check_name }} {{ check_params }}
