#---------------------------------------------------
# This file is Juju managed
#---------------------------------------------------
command[{{ item.name }}]={{ plugin_dir }}/{{ item.name }} {{ item.params }}
