#---------------------------------------------------
# This file is Juju managed
#---------------------------------------------------
command[{{ item.name }}]={{ plugin_dir }}/{{ check_name }} {{ item.params }}
